@{
    ViewBag.Title = "Administrativo";
}
<div class="main" id="main">
    <div class="content">
        <div id="about">
            <p>&nbsp;</p>
            <br />
        </div>
        <div class="features">
            <div class="wrap">
                <h2><span>GOPAG</span> - Soluções em Pagamentos</h2>
            </div>
        </div>
        <div class="dashborder_img">
            <div class="wrap">
                <h4>Grupo Soluções, estabelecido em Goiânia, há mais de 10 anos, atuante no segmento empresarial na área de Assessoria, 
            Contabilidade e Seguros, dentro de sua missão de entregar produtos de qualidade com confiabilidade, 
            tendo a visão de atender empresas e pessoas físicas, 
            com produtos e serviços que possibilitem a preservação e aumento de patrimônio, pautados nos valores da ética, 
            empreendedorismo, cordialidade e respeito, inova mais uma vez, trazendo a Região Centro Oeste, a GOPAG, 
            sistemática de uso de cartões de crédito e débito pelo celular para atender a pequenas e médias empresas, 
            profissionais liberais e autônomos.
                </h4>
            </div>
        </div>
        <div class="content_bottom">
            <div class="wrap">
                <div class="customers_grids">
                    <div class="section group">
                        <div class="grid_1_of_2 images_1_of_2">

                            <img src="~/Content/images/Brenda_01.jpg" alt="" />
                            <h3><a href="#">Brenda Lobo</a></h3>
                            <h5>Atendimento<br>
                                atendimento@gopag.com.br</h5>
                        </div>
                        <div class="grid_1_of_2 images_1_of_2">

                            <img src="~/Content/images/Sara_03.jpg" alt="" />
                            <h3><a href="#">Sara Abreu</a></h3>
                            <h5>Financeiro<br>
                                financeiro@gopag.com.br</h5>
                        </div>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_2 images_1_of_2">

                            <img src="~/Content/images/Elcio_01.jpg" alt="" />
                            <h3><a href="#">Elcio Junior</a></h3>
                            <h5>Analista de Infraestrutura<br>
                                infra@gopag.com.br</h5>
                        </div>
                        <div class="grid_1_of_2 images_1_of_2">

                            <img src="~/Content/images/Jonatas_03.jpg" alt="" />
                            <h3><a href="#">Jonatas Evangelista</a></h3>
                            <h5>Analista Front End<br>
                                frontend@gopag.com.br</h5>
                        </div>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_3 images_1_of_3">

                            <img src="~/Content/images/Alessandro_01.jpg" alt="" />
                            <h3><a href="#">Alessandro Pizzolatto</a></h3>
                            <h5>Diretor Executivo<br>
                                alessandro@gopag.com.br</h5>
                        </div>
                        <div class="grid_1_of_3 images_1_of_3">

                            <img src="~/Content/images/Rildo_01.png" alt="" />
                            <h3><a href="#">Rildo Ferreira</a></h3>
                            <h5>Diretor Executivo<br>
                                rildo@gopag.com.br</h5>
                        </div>
                        <div class="grid_1_of_3 images_1_of_3">

                            <img src="~/Content/images/Willian_04.jpg" alt="" />
                            <h3><a href="#">Willian Barbosa</a></h3>
                            <h5>Diretor de TI<br>
                                willian@gopag.com.br</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_bottom" id="callcenter">
            <div class="wrap">
                <h2>Atendimento</h2>
                <h4>Você fala e a Gopag ouve!</h4>
                <div class="customers_grids">
                    <div class="section group">
                        <div class="grid_1_of_3 images_1_of_3">
                            <div class="customer_desc">
                                <span class="quotes up"></span>
                                <p>
                                    <h4>Reclamações</h4>
                                    <a href="#">Registre sua reclamação</a><br>
                                    <a href="#">Agende Assistência/Reparo</a><br>
                                    <a href="#">Avaliação do Atendimento</a><br>
                                    Central de Reclamações: (62) 3255-4858<br>
                                    SAC: 0800-601-4858
                                </p>
                                <span class="quotes down"></span>
                                <span class="testimonial-arrow"></span>
                            </div>

                        </div>
                        <div class="grid_1_of_3 images_1_of_3">
                            <div class="customer_desc">
                                <span class="quotes up"></span>
                                <p>
                                    <h4>Dúvidas e Soluções</h4>
                                    <a href="#">Guias de Início Rápido</a><br>
                                    <a href="#">Drives e Atualizações</a><br>
                                    <a href="#">Manuais e Especificações</a><br>
                                    <a href="#">(FAQ) Perguntas Frequentes e Dicas de Uso</a><br>
                                </p>
                                <span class="quotes down"></span>
                                <span class="testimonial-arrow"></span>
                            </div>

                        </div>
                        <div class="grid_1_of_3 images_1_of_3">
                            <div class="customer_desc">
                                <span class="quotes up"></span>
                                <p>
                                    <h4>Central de Ajuda</h4>
                                    <a href="#">Vídeos</a><br>
                                    <a href="#">Mais Informações sobre nós</a><br>
                                    <a href="#">Contratos</a><br>
                                    <a href="#">Certificados</a><br>
                                </p>
                                <span class="quotes down"></span>
                                <span class="testimonial-arrow"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="section group example">
                    <div class="col_1_of_4 span_1_of_4 list">
                        <h3>Disclaimer</h3>
                        <ul>
                            <li><a href="#">Política de Privacidade</a></li>
                            <li><a href="#">Termos de Serviços</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 list">
                        <h3>Grupo Soluções</h3>
                        <ul>
                            <li><a href="#">Soluções Club</a></li>
                            <li><a href="#">Soluções Adm </a></li>
                            <li><a href="#">Soluções Pagamentos</a></li>
                            <li><a href="#">Soluções Corretora </a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 list">
                        <h3>Séries</h3>
                        <ul>
                            <li><a href="#">GOPAG</a></li>
                            <li><a href="#">SOMATRUCK</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 list">
                        <h3>Contatos</h3>
                        <ul>
                            <li><a href="#">0800-601-4858</a></li>
                            <li><a href="#">atendimento@gopag.com.br</a></li>
                            <li><a href="#">www.gopag.com.br</a></li>
                        </ul>
                        <div class="social-icons">
                            <h3>Redes Sociais</h3>
                            <ul>
                                <li><a href="#" target="_blank">
                                    <img src="~/Content/images/facebook.png" alt="" />
                                    Facebook</a></li>
                                <li class="likedin"><a href="#" target="_blank">
                                    <img src="~/Content/images/likedin.png" alt="" />
                                    Likedin</a></li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
