<head><style>footer>p{position: absolute;bottom: 0;}</style></head>
<div id="check"></div>
@{
    ViewBag.Title = "Quem Somos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
