@using Jmelosegui.Mvc.GoogleMap;
@using VirtualPlay.Business.Models;

@model VirtualPlay.Business.Models.Pay_Transaction

@{
    ViewBag.Title = "CashReceipts";
}

<h2>Recebimento</h2>

<div>
    <h4>Meus Recebimentos</h4>
	<hr />
    
</div>